{% extends 'base.html' %}

{% block title %}Delete Contact{% endblock %}

{% block body %}
<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-4xl">
        <h1 class="text-2xl font-semibold mb-4 text-gray-800">Are you sure you want to delete "{{ object.first_name }} {{ object.last_name }}"?</h1>
        <form method="post">
            {% csrf_token %}
            <div class="flex justify-between">
                <a href="{% url 'core:contact-list' %}" class="bg-gray-300 text-gray-800 py-2 px-4 rounded hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50">
                    No, go back
                </a>
                <button type="submit" class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">
                    Yes, delete
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
